// @font-face {
//   font-family: 'beaufort-regular';
//   src: url('../assets/Fonts/Beaufort/BeaufortforLOL-Regular.woff2');
// }

@font-face {
  font-family: 'beaufort-bold';
  src: url('../assets/Fonts/Beaufort/BeaufortforLOL-Bold.woff2');
}

@font-face {
  font-family: 'spiegel-regular';
  src: url('../assets/Fonts/Spiegel/Spiegel_TT_Regular.woff2');
}
