@use '../../styles/defaultVariables' as vars;

.container {
  min-width: 80px;
  gap: 15px;
}

.iconContainer {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;

  &.active::before {
    position: absolute;
    content: '';
    height: 40px;
    width: 4px;
    background-color: vars.$gold4;
    left: 0;
  }
}

.icon {
  height: 25px;
  width: 25px;

  path {
    fill: vars.$grey1d5;
  }

  &.active,
  &:hover {
    path {
      fill: vars.$grey1;
    }
  }

  &.active:hover {
    path {
      fill: vars.$gold1;
    }
  }
}
